{% extends "accounts/accountsBasic.html" %}

{% block title %}
    Password Reset Complete
{% endblock %}

{% block content %}
    <div class="form-form-wrap">
        <div class="form-container">
            <div class="form-content">

                <h1 class="">Password Reset</h1>
                <form class="text-left" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form">
                        <div class="alert alert-success text-center">
                            Your password has been reset. You may go ahead and Login now.
                        </div>
                        <div class="field-wrapper">
                            <button type="submit" class="btn btn-primary" value="">Login</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}