{% extends "accounts/accountsBasic.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
    <div class="form-form-wrap">
        <div class="form-container">
            <div class="form-content">

                <h1 class="">Password Reset</h1>
                <form class="text-left" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="form">
                        <p class="m-auto text-justify pt-3">
                            We've emailed you instructions for reset setting your password, You should receive them
                            shortly.
                        </p>
                        <p class="m-auto text-justify pt-2 pb-3">
                            If you don't receive an email, please make sure you've entered the address you registered
                            with, and check your spam folder.
                        </p>
                        <div class="field-wrapper">
                            <button type="submit" class="btn btn-primary" value="">Return to home page</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}