{% extends "accounts/accountsBasic.html" %}

{% block title %}
    Password Change
{% endblock %}

{% block content %}
    <div class="form-form-wrap">
        <div class="form-container">
            <div class="form-content">

                <h1 class="">Password Change</h1>
                <p class="signup-link recovery">Password must be different than existing.</p>
                <form class="text-left" method="POST" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="form">
                        <div class="alert alert-success text-center">
                            Your password has been Updated Successfully!
                        </div>
                        <div class="field-wrapper">
                            <button type="submit" class="btn btn-primary" value="">BacK Home</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}