{% extends "accounts/accountsBasic.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="form-form-wrap">
        <div class="form-container">
            <div class="form-content">
                <h1 class="">Login</h1>
                <p class="">Login to your account to continue.</p>
                <form class="text-left" method="post">
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}

                    {% if login_form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ login_form.non_field_errors.as_text }}
                        </div>
                    {% endif %}

                    <div class="form">
                        <div id="username-field" class="field-wrapper input">
                            <label for="email">EMAIL</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-at-sign register">
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
                            </svg>
                            <input id="email" name="email" type="text" value="" class="form-control"
                                   placeholder="Email">

                            {% if login_form.email.help_text %}
                                <small>{{ login_form.email.help_text }}</small>
                            {% endif %}
                            {% if login_form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ login_form.email.errors.as_text }}
                                </div>
                            {% endif %}

                        </div>

                        <div id="password-field" class="field-wrapper input mb-2">
                            <div class="d-flex justify-content-between">
                                <label for="password">PASSWORD</label>
                                <a href="{% url 'password_reset' %}" class="forgot-pass-link">Forgot Password?</a>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-lock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                            <input id="password" name="password" type="password" class="form-control"
                                   placeholder="Password">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" id="toggle-password" class="feather feather-eye">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>

                            {% if login_form.password.help_text %}
                                <small>{{ login_form.password.help_text }}</small>
                            {% endif %}
                            {% if login_form.password.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ login_form.password.errors.as_text }}
                                </div>
                            {% endif %}

                        </div>

                        <div class="d-sm-flex justify-content-between">
                            <div class="field-wrapper">
                                <button type="submit" class="btn btn-primary" value="">Login</button>
                            </div>
                        </div>

                        <div class="division">
                            <p class="signup-link text-black">Not registered ? <a href="{% url 'register' %}">Create an
                                account</a></p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}